body{
    text-align:center;
    }
    #hi{
    color:orange;
    font-size:80px;
    font-variant:small-caps;
    }
    #My_Family_Header{
    font-size:80px;
    color:rgb(195, 0, 255);
    }
    #img_family_members{
    width:150 px;
    }
    #name{
    font-size:80px;
    color:blue;
    }
    
    
    
    